@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --font-family: "Rubik", sans-serif;
  --font-size: 16px;
  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 700;
  

  --clr-moderate-blue: hsl(238, 40%, 52%);
  --clr-soft-red: hsl(358, 79%, 66%);
  --clr-light-grayish-blue: hsl(239, 57%, 85%);
  --clr-pale-red: hsl(357, 100%, 86%);

  --clr-dark-blue: hsl(212, 24%, 26%);
  --clr-grayish-blue: hsl(211, 10%, 45%);
  --clr-light-gray: hsl(223, 19%, 93%);
  --clr-Vlight-gray: hsl(228, 33%, 97%);
  --clr-white: hsl(0, 0%, 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--clr-Vlight-gray);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  font-size: var(--font-size);
  font-weight: var(--font-weight-2);
  font-family: var(--font-family);
  background-color: var(--clr-moderate-blue);
  gap: .5rem;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--clr-grayish-blue);
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--clr-moderate-blue);
}


.userReviewBlock,
.sendReview {
  background-color: var(--clr-white);
  gap: .5rem;
}

input {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-1);
  color: var(--clr-dark-blue);
  padding: .7rem 1rem;
  line-height: 1.5;
  text-align: justify;
  border-radius: 8px;
}

input:focus,
input:focus-visible {
  outline: 4px auto var(--clr-moderate-blue);
}

p {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-1);
  color: var(--clr-grayish-blue);
  /* padding: .7rem; */
  line-height: 1.5;
  text-align: justify;
}

li {
  list-style-type: none;
  margin-left: 1.5rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
